#video{
    opacity:0;
    position:absolute;
}
#display{
    display:block;
    margin:0px auto;
    -moz-transform:scale(-1, 1);
    -o-transform:scale(-1, 1);
    -webkit-transform:scale(-1, 1);
    transform:scale(-1, 1);
}
